{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li class="nav-item">
        <a class="nav-link" href="/client/{{ clientId }}">Back</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">{{ title }}</a>
    </li>
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">{{ title }}</h1>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            {{ form(addInsuranceForm) }}
        </div>
    </div>
</div>

<script>
    $(document).on('change', '#create_client_insurance_form_insuranceObjectsTypes', function() {
        let $form = $(this).closest('form');
        let $token = $form.find('#create_client_insurance_form__token');
        let $user = $form.find('#create_client_insurance_form_clientId');
        let data = {};

        data[$token.attr('name')] = $token.val();
        data[$(this).attr('name')] = $(this).val();
        data[$user.attr('name')] = $user.val();

        $.ajax({
            url : $form.attr('action'),
            method: $form.attr('method'),
            data : data,
            complete: function(html) {
            // Replace current position field ...
            $form.replaceWith(
                // ... with the returned one from the AJAX response.
                $(html.responseText).find('form')
            );
            // Position field now displays the appropriate positions.
            }
        });
    });

</script>

{% endblock %}