{% extends 'base.html.twig' %}

{% block title %}Creating insurance object{% endblock %}

{% block body %}

<div class="container">
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
            <a class="nav-link" href="/">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/client/{{ clientId }}">Back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">New insurance object</a>
        </li>
    </ul>
    <br>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <a class="btn btn-info" href="{{ path('add-insurance-home', {'id': clientId}) }}"> Home </a> &nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-auto', {'id': clientId}) }}"> Auto </a>&nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-coll', {'id': clientId}) }}"> Collectibles </a>&nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-umbrella', {'id': clientId}) }}"> Umbrella </a>&nbsp;&nbsp;
        </div>
    </div>
</div>
{% endblock %}