{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="nav-item">
        <a class="nav-link" href="/client/{{ clientId }}">Back</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">{{ title }}</a>
    </li>
{% endblock %}

{% block body %}

<div class="container">
    
    <br>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <a class="btn btn-info" href="{{ path('add-insurance-home', {'id': clientId}) }}"> Home </a> &nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-auto', {'id': clientId}) }}"> Auto </a>&nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-coll', {'id': clientId}) }}"> Collectibles </a>&nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-umbrella', {'id': clientId}) }}"> Umbrella </a>&nbsp;&nbsp;
            <a class="btn btn-info" href="{{ path('add-insurance-other', {'id': clientId}) }}"> Other </a>&nbsp;&nbsp;
        </div>
    </div>
</div>
{% endblock %}