{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="container" id="client-ins-objects">
    <ul class="nav nav-tabs mt-5">
        <li>
            <a class="nav-link" href="{{ path('client') }}">Main</a>
        </li>
        <li>
            <a class="nav-link active" href="">{{ title }}</a>
        </li>
    </ul>
    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-7 col-sm-2 col-md-12 col-lg-10 mx-auto d-block">
                        {% if client.photo == null %}
                            <img class="img-fluid rounded-circle" src="{{ asset('uploads/photos/unknown.jpg') }}" alt="{{ client.name }}">
                        {% else %}
                            <img class="img-fluid rounded-circle" src="{{ asset('uploads/photos/' ~ client.photo) }}" alt="{{ client.name }}">
                        {% endif %}
                    </div>
                    <h5 class="card-title mt-4">{{ client.name }}</h5>
                    <p class="card-text"><small class="text-muted">{{ client.city }}</small></p>

                    <ul class="list-group list-group-flush nav flex-column nav-pills">
                    {% for insObjName, val in insuranceList %}
                        <li class="list-group-item">
                            <a class="nav-link ins-obj-nav-names {% if loop.index == 1 %} active{%endif%}" item-name="{{ insObjName }}" href="#">{{ insObjName }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/client/{{ client.id }}/add-insurance/">Add insurance</a>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body" id="attachment-list">
                    <h5 class="card-title mt-4">Attachments</h5>
                    {% for attachment in attachmentList %}
                        <p><a href="{{ asset('uploads/photos/' ~ attachment.path) }}" target="_blank">{{ attachment.name }}</a> <a href="#" class="badge badge-danger delete-attachment" data-id="{{ attachment.id }}" data-toggle="tooltip" data-placement="right" title="Delete attachment">&#215;</a></p>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" href="/client/{{ client.id }}/upload-file/">Upload document</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            {% for key, insObj in insuranceList %}
            <div class="flex-row ins-items ins-items-name-{{ key }} {% if loop.index > 1 %}d-none{% else %} d-flex {% endif %}">
                {% for keyYear, insObjInfo in insObj %}
                    <div class="p-2">
                        <h3 style="display:inline-block; vertical-align:top"> Year - {{ insObjInfo.year }}</h3>
                        <a href="#" class="btn btn-danger btn-sm" item-id="{{ insObjInfo.id }}" id="ins-delete">Delete</a>
                        <a href="/client/insurance/edit/{{ insObjInfo.id }}" class="btn btn-warning btn-sm">Edit</a>
                        <br>
                        <table class="table table-light table-striped table-bordered">
                            {% if insObjInfo.name %}
                                <tr>
                                    <td>Name</td>
                                    <td>{{ insObjInfo.name }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.renewalDate %}
                                <tr>
                                    <td>Renewal Date</td>
                                    <td>{{ insObjInfo.renewalDate|date("m/d/Y") }}</td>
                                </tr>
                            {% endif %}

                            {% if insObjInfo.address %}
                                <tr>
                                    <td>Address</td>
                                    <td>{{ insObjInfo.address }}</td>
                                </tr>
                            {% endif %}

                            {% if insObjInfo.dwellingLimit %}
                                <tr>
                                    <td>Dwelling Limit</td>
                                    <td>{{ insObjInfo.dwellingLimit }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.otherStructuresLimit %}
                                <tr>
                                    <td>Other structures limit</td>
                                    <td>{{ insObjInfo.otherStructuresLimit }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.contents %}
                                <tr>
                                    <td>Contents</td>
                                    <td>{{ insObjInfo.contents }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.liability %}
                                <tr>
                                    <td>Liability</td>
                                    <td>{{ insObjInfo.liability }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.lossOfUse %}
                                <tr>
                                    <td>Loss of use</td>
                                    <td>{{ insObjInfo.lossOfUse }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.AOPDeductible %}
                                <tr>
                                    <td>AOP Deductible</td>
                                    <td>{{ insObjInfo.AOPDeductible }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.windDeductible %}
                                <tr>
                                    <td>Wind Deductible</td>
                                    <td>{{ insObjInfo.windDeductible }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.otherNotes %}
                                <tr>
                                    <td>Other notes</td>
                                    <td>{{ insObjInfo.otherNotes }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.premium %}
                                <tr>
                                    <td>premium</td>
                                    <td>{{ insObjInfo.premium }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.totalDrivers %}
                                <tr>
                                    <td>total drivers</td>
                                    <td>{{ insObjInfo.totalDrivers }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.vehicles %}
                                <tr>
                                    <td>vehicles</td>
                                    <td>{{ insObjInfo.vehicles }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.pip %}
                                <tr>
                                    <td>Pip</td>
                                    <td>{{ insObjInfo.pip }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.medicalPayments %}
                                <tr>
                                    <td>medical payments</td>
                                    <td>{{ insObjInfo.medicalPayments }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.OTCDeductible %}
                                <tr>
                                    <td>OTC Deductible</td>
                                    <td>{{ insObjInfo.OTCDeductible }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.COLLDeductible %}
                                <tr>
                                    <td>COLL Deductible</td>
                                    <td>{{ insObjInfo.COLLDeductible }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.jewelry %}
                                <tr>
                                    <td>jewelry</td>
                                    <td>{{ insObjInfo.jewelry }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.fineArt %}
                                <tr>
                                    <td>fineArt</td>
                                    <td>{{ insObjInfo.fineArt }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.silverware %}
                                <tr>
                                    <td>silverware</td>
                                    <td>{{ insObjInfo.silverware }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.wine %}
                                <tr>
                                    <td>wine</td>
                                    <td>{{ insObjInfo.wine }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.otherCollectable %}
                                <tr>
                                    <td>other collectable</td>
                                    <td>{{ insObjInfo.otherCollectable }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.misc %}
                                <tr>
                                    <td>misc</td>
                                    <td>{{ insObjInfo.misc }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.excessLimit %}
                                <tr>
                                    <td>excess limit</td>
                                    <td>{{ insObjInfo.excessLimit }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.uninsured %}
                                <tr>
                                    <td>uninsured</td>
                                    <td>{{ insObjInfo.uninsured }}</td>
                                </tr>
                            {% endif %}
                            {% if insObjInfo.motorist %}
                                <tr>
                                    <td>motorist</td>
                                    <td>{{ insObjInfo.motorist }}</td>
                                </tr>
                            {% endif %}
                        <tr>
                                    <td>Attachments</td>
                                    <td>
                                        {% if insAttachmentsList[insObjInfo.id] is defined %}
                                            {% for insAttachment in insAttachmentsList[insObjInfo.id] %}
                                                <p>
                                                    <a href="{{ asset('uploads/photos/' ~ insAttachment.path) }}" target="_blank">{{ insAttachment.name }}</a>
                                                    <a href="#" class="badge badge-danger delete-ins-attachment" data-id="{{ insAttachment.id }}" data-toggle="tooltip" data-placement="right" title="Delete attachment">&#215;</a>
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                        <a class="btn btn-info" href="/client/{{ client.id }}/insurance/{{ insObjInfo.id }}/upload-file/">Upload document</a>
                                    </td>
                                </tr>
                            </table>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="/js/main.js"></script>
    <script>
        $( document ).ready(function() {
            //Show needed table
            $(".ins-obj-nav-names").click(function (){
                $(".ins-obj-nav-names").removeClass('active');
                $(this).addClass("active");

                let insName = $(this).attr('item-name');
                $(".ins-items").removeClass('d-flex').addClass('d-none');
                $(".ins-items-name-" + insName).removeClass('d-none').addClass('d-flex');
            })

            $("#ins-delete").click(function (){
                let insId = $(this).attr('item-id');
                if (confirm('Are you sure?')) {
                    fetch(`/client/insurance/delete/${insId}`, {
                        method: 'DELETE'
                    }).then(res => window.location.reload())
                }
            })

            $(".delete-ins-attachment").click(function (){
                let attachmentId = $(this).data('id');
                if (confirm('Are you sure?')) {
                    fetch(`/client/insurance/delete-attachment/${attachmentId}`, {
                        method: 'DELETE'
                    }).then(res => window.location.reload())
                }
            })
        });
    </script>
{% endblock %}

{% endblock %}